# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are : 
1. Python 
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include 
1. Scientific Computing - NumPy
2. Data Visualization - Matplotib
3. Machine Learning - Scikit-learn

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|R Studio|
|VS Code|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to multiply then add integers

In [10]:
(3*4)+5

17

This will convert 200 minutes to hours by dividing by 60

In [13]:
200/60

3.3333333333333335

**Objectives**
- Phyton
- R 
- SQL
- Scala
- Java

## Author
Adrian Benedictus Watratan